Day 6

In [1]:
# 1.Print numbers from 1 to 10 using for
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# 2. Print even numbers from 2 to 20.
for i in range(2,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [4]:
# 3. Print odd numbers between 1 and 15
for i in range(1,16):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15

In [5]:
#  4. Print squares of numbers from 1 to 10.
for i in range(1,11):
    print(f"Square of {i} is {i * i}")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

In [6]:
#  5. Print multiplication table for 7.
n = 7
for i in range(1,11):
    print(f" {n} * {i} = {n * i}")

 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 7 * 10 = 70

In [11]:
#  6. Print characters of "Hello Python" one by one.
x = "Hello Python"
for ch in x:
    print(ch)

H
e
l
l
o

P
y
t
h
o
n

In [13]:
#  7. Print "Python Rocks!" 5 times.
x = "Python Rocks!"
for i in range(5):
    print(x)

Python Rocks!
Python Rocks!
Python Rocks!
Python Rocks!
Python Rocks!

In [17]:
#  8. Print sum of first 20 natural numbers.
tot = 0
for i in range(1,21):
    tot += i
print(tot)

210

In [20]:
# 9. Print factorial of a number using for.
n = int(input(" Enter a number : "))
fact = 1
for i in range(1,n + 1):
    fact *= i
print(fact)

 Enter a number :  4

24

In [22]:
# 10. Print numbers from 10 to 1 (reverse loop).
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [24]:
# 11. Print all numbers between 50 - 100 divisible by 7.
for i in range(50,101):
    if i % 7 == 0:
        print(i)

56
63
70
77
84
91
98

In [27]:
#  12. Ask a word from user and count its vowels using loop.
word = input(" Enter a word: ")
vow = 0
for i in word:
    if i.lower() in"aeiou":
        vow += 1
        print(vow)

 Enter a word:  Python

1

In [30]:
# 13. Print sum of all even numbers from 1 to 50.
tot = 0
for i in range(1,51):
    if i % 2 == 0:
        tot += i
        print(tot)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [31]:
# 13. Print sum of all even numbers from 1 to 50.
tot = 0
for i in range(1,51):
    if i % 2 == 0:
        tot += i
print(tot)

650

In [35]:
#  14. Print cubes of numbers from 1 to N.
n = int(input("Enter a number: "))
for i in range(1,n + 1):
    print(f" Cube of {i} is {n ** 3}")

Enter a number:  3

 Cube of 1 is 27
 Cube of 2 is 27
 Cube of 3 is 27

In [36]:
# 15. Print first 10 Fibonacci numbers using for.
a , b = 0 , 1
for i in range(10):
    print(a)
    a , b =b , a + b

0
1
1
2
3
5
8
13
21
34

In [40]:
# 16. Print all prime numbers between 1 and 50 using while loop.
num = 2
while num <= 50:
    i = 2
    while i < num:
        if num % i == 0:
            break
        i += 1
    else:
        print(num)
    num += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [41]:
# 16. Print all prime numbers between 1 and 50 using for loop.
for num in range(2, 51):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [48]:
#  17. Print reverse of a given number using for.
num = 1810
num = str(num)
for i in range(len(num)-1 , -1 ,-1):
    print(num[i], end = "")

0181

In [51]:
#  18. Print pattern:
for i in range(1,5):
    print("* " * i)

*
* *
* * *
* * * *

In [56]:
# 19. Print pattern:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [57]:
# 20. Print sum of digits of a number using for.
num = 1810
tot = 0
num = str(num)
for i in num:
    tot += int(i)
print(tot)

10