<h1>Day 11</h1>

In [2]:
# 1. Define afunction to print ”Hello Python”.
def function():
    print("Hello Python")
function()

Hello Python

In [4]:
# 2. Define afunction to add 2 numbers and return result.
def add(a,b):
    return(a + b)
print(add(8, 10))

18

In [6]:
# 3. Define a function to find square of a number.
def square(a):
    return( a * a)
print(square(4))

16

In [7]:
# 4. Function that takes a name as parameter and prints a greeting.
def greet(name):
    print("Hello " , name)
greet("Deepthi")

Hello  Deepthi

In [8]:
# 5. Function that returns the larger of 2 numbers.
def maximum(x, y):
    return max(x , y)
print(maximum(18, 10))

18

In [71]:
# 6. Function to find factorial of a number.
def factorial(num):
    fact = 1
    for i in range(1, num + 1):
        fact *= i
    return fact
print(factorial(6))

720

In [14]:
# 7. Function to check if a number is prime or not
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    else:
        return True
print(is_prime(8))
print(is_prime(5))

False
True

In [26]:
# 8. Function to calculate sum of all numbers in a list.
def sum_of_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total
print(sum_of_list([12, 18, 21, 36]))

87

In [36]:
# 9. Function to count vowels in a string.
def count_vowels(string):
    vowels = "aeiou"
    count = 0
    for i in string:
        if i in vowels:
            count += 1
    return count
print(count_vowels("Jayakrishna"))

4

In [39]:
# 10. Function that takes a number and returns a list of its factors.
def get_factor(num):
    if num <= 0:
        return "Enter a positive integer: "
    factor = []
    for i in range( 1, num + 1):
        if num % i == 0:
            factor.append(i)
    return factor
print(get_factor(56))

[1, 2, 4, 7, 8, 14, 28, 56]

In [40]:
#11. Function that reverses a string
def reverse_string(s):
    return s[::-1]
print(reverse_string("Deepthi"))

ihtpeeD

In [42]:
#  12. Function that finds second largest element in a list.
def second_largest(numbers):
    lst = list(set(numbers))
    return lst[-2]
print(second_largest([19, 99, 21, 27, 56]))
print(second_largest([1, 6, 18, 54]))

56
18

In [44]:
# 13. Function with default argument( like greeting someone by default”Guest”).
def greet(guest = "Sai Teja"):
    print("Hello" , guest)
greet()

Hello Sai Teja

In [49]:
#  14. Function using *args to calculate average of numbers.
def avg(*args):
    total = 0 
    count = 0
    for num in args:
        total += num
        count += 1
        average = total / count
    return average
print(avg(1,15,16,38))

17.5

In [52]:
#15. Function to check if a string is palindrome
def is_palindrome(string):
    return string == string[::-1]
print(is_palindrome("Malayalam"))
print(is_palindrome("malayalam"))
print(is_palindrome("Mangalam"))

False
True
False

In [53]:
#  16. Function that takes a number N and returns Fibonacci series upto N terms
def fibonacci_series(n):
    series = []
    a, b = 0, 1
    for i in range(n):
        series.append(a)
        a, b = b, a + b
    return series
print(fibonacci_series(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [62]:
# 17. Function that counts frequency of words in a sentence using dictionary.
def word_frequency(sentence):
    words = sentence.split()
    freq = {}
    for word in words:
        if word in freq:
            freq[word] += 1
        else:
            freq[word] = 1
    return freq
sentence = "function that counts frequency of words in a sentence using dictionary, function to count vowels in a string"
print(word_frequency(sentence))

{'function': 2, 'that': 1, 'counts': 1, 'frequency': 1, 'of': 1, 'words': 1, 'in': 2, 'a': 2, 'sentence': 1, 'using': 1, 'dictionary,': 1, 'to': 1, 'count': 1, 'vowels': 1, 'string': 1}

In [66]:
# 18. Function with **kwargs to print employee details.
def employe(**kwargs):
    for key,value in kwargs.items():
        print(key, " : ", value)
employe( name = "Sreeramulu", Experience = " 29 years " , emp_id = 545)

name  :  Sreeramulu
Experience  :   29 years
emp_id  :  545

In [67]:
#  19. Function that finds GCD of two numbers.
def gcd(a, b):
    while b != 0:
        a , b = b, a % b
    return a
print(gcd(50,25))

25

In [68]:
# 20. Lambda function to calculate cube of a number.
cube = lambda x: x ** 3
print(cube(2))

8