<h1>Day 18</h1>

In [27]:
# 1. Create a list of dictionaries for employees (name, department, salary).
employees = [
    {"name": "Anika", "department": "Finance", "salary": 75000},
    {"name": "JayaKrishna", "department": "Engineering", "salary": 90000},
    {"name": "Chetana", "department": "HR", "salary": 65000},
    {"name": "Dong Lee", "department": "HR", "salary": 60000},
    {"name": "Deepthi", "department": "Engineering", "salary": 95000},
    {"name": "Nikitha", "department": "Finance", "salary": 72000},
    {"name": "Sai Teja", "department": "Marketing", "salary": 98000},
    {"name": "Rohini", "department": "Engineering", "salary": 88000}
]

In [28]:
#  2. Print all employees working in "HR".
for employee in employees:
    if employee["department"] == "HR":
        print(employee)

{'name': 'Chetana', 'department': 'HR', 'salary': 65000}
{'name': 'Dong Lee', 'department': 'HR', 'salary': 60000}

In [30]:
#  3. Access the salary of a given employee.
name = input("Enter an employee name: ")

for emp in employees:
    if emp["name"] == name:
        print("Salary of", name, "is:", emp["salary"])
        break

Enter an employee name:  Sai Teja

Salary of Sai Teja is: 98000

In [31]:
#  4. Add a new employee to the list.
new_employee = {"name": "Prashanthi", "department": "Teacher", "salary": 65000}
employees.append(new_employee)
employees

[{'name': 'Anika', 'department': 'Finance', 'salary': 75000},
 {'name': 'JayaKrishna', 'department': 'Engineering', 'salary': 90000},
 {'name': 'Chetana', 'department': 'HR', 'salary': 65000},
 {'name': 'Dong Lee', 'department': 'HR', 'salary': 60000},
 {'name': 'Deepthi', 'department': 'Engineering', 'salary': 95000},
 {'name': 'Nikitha', 'department': 'Finance', 'salary': 72000},
 {'name': 'Sai Teja', 'department': 'Marketing', 'salary': 98000},
 {'name': 'Rohini', 'department': 'Engineering', 'salary': 88000},
 {'name': 'Prashanthi', 'department': 'Teacher', 'salary': 65000}]

In [32]:
# 5. Update the department of an employee.
for emp in employees:
    if emp["name"] == "Deepthi":
        emp["department"] = "MCA"
        print(emp)
        break

{'name': 'Deepthi', 'department': 'MCA', 'salary': 95000}

In [33]:
employees

[{'name': 'Anika', 'department': 'Finance', 'salary': 75000},
 {'name': 'JayaKrishna', 'department': 'Engineering', 'salary': 90000},
 {'name': 'Chetana', 'department': 'HR', 'salary': 65000},
 {'name': 'Dong Lee', 'department': 'HR', 'salary': 60000},
 {'name': 'Deepthi', 'department': 'MCA', 'salary': 95000},
 {'name': 'Nikitha', 'department': 'Finance', 'salary': 72000},
 {'name': 'Sai Teja', 'department': 'Marketing', 'salary': 98000},
 {'name': 'Rohini', 'department': 'Engineering', 'salary': 88000},
 {'name': 'Prashanthi', 'department': 'Teacher', 'salary': 65000}]

In [34]:
#  6. Calculate the average salary of all employees.
total_salary = 0
for emp in employees:
    total_salary += emp["salary"]
average_salary = total_salary / len(employees)
print(average_salary)

78666.66666666667

In [35]:
#  7. Find the employee with the highest salary
highest_paid = employees[0]
for emp in employees:
    if emp["salary"] > highest_paid["salary"]:
        highest_paid = emp
print(highest_paid)

{'name': 'Sai Teja', 'department': 'Marketing', 'salary': 98000}

In [36]:
# 8. Sort employees by name alphabetically. 
sorted_employees = sorted(employees, key=lambda x: x["name"])
for emp in sorted_employees:
    print(emp)

{'name': 'Anika', 'department': 'Finance', 'salary': 75000}
{'name': 'Chetana', 'department': 'HR', 'salary': 65000}
{'name': 'Deepthi', 'department': 'MCA', 'salary': 95000}
{'name': 'Dong Lee', 'department': 'HR', 'salary': 60000}
{'name': 'JayaKrishna', 'department': 'Engineering', 'salary': 90000}
{'name': 'Nikitha', 'department': 'Finance', 'salary': 72000}
{'name': 'Prashanthi', 'department': 'Teacher', 'salary': 65000}
{'name': 'Rohini', 'department': 'Engineering', 'salary': 88000}
{'name': 'Sai Teja', 'department': 'Marketing', 'salary': 98000}

In [37]:
#  9. Filter employees with salary above a certain amount.
for emp in employees:
    if emp["salary"] > 75000:
        print(emp)

{'name': 'JayaKrishna', 'department': 'Engineering', 'salary': 90000}
{'name': 'Deepthi', 'department': 'MCA', 'salary': 95000}
{'name': 'Sai Teja', 'department': 'Marketing', 'salary': 98000}
{'name': 'Rohini', 'department': 'Engineering', 'salary': 88000}

In [38]:
# 10. Delete an employee by name from the list
name = input("Enter an employee name : ")
for emp in employees:
    if emp["name"] == name:
        employees.remove(emp)
        break
employees

Enter an employee name :  Chetana

[{'name': 'Anika', 'department': 'Finance', 'salary': 75000},
 {'name': 'JayaKrishna', 'department': 'Engineering', 'salary': 90000},
 {'name': 'Dong Lee', 'department': 'HR', 'salary': 60000},
 {'name': 'Deepthi', 'department': 'MCA', 'salary': 95000},
 {'name': 'Nikitha', 'department': 'Finance', 'salary': 72000},
 {'name': 'Sai Teja', 'department': 'Marketing', 'salary': 98000},
 {'name': 'Rohini', 'department': 'Engineering', 'salary': 88000},
 {'name': 'Prashanthi', 'department': 'Teacher', 'salary': 65000}]