Day 2 Assignment

In [2]:
#Take a number input and print it.
num = int(input(" Enter a number : "))
print(num)

 Enter a number :  18

18

In [3]:
# Take two numbers as input, convert to int, and print their sum.
num1 = 18
num2 = 10
num1 = int(num1)
num2 = int(num2)
print(num1 + num2)

28

In [4]:
#Input name and age, then print:
name = str(input(" Enter your name : "))
age = int(input(" Enter your age : "))
print("MY name is " + name , " and I am " , age ," years old.")

 Enter your name :  Deepthi
 Enter your age :  23

MY name is Deepthi  and I am  23  years old.

In [6]:
#Input two numbers and print their product.
num1 = int(input(" Enter a number : "))
num2 = int(input(" Enter a number : "))
print(num1 * num2)

 Enter a number :  3
 Enter a number :  18

54

In [7]:
#Input a float number and print it multiplied by 10.
num = float(input(" Enter a number : "))
print(num * 10)

 Enter a number :  8.3

83.0

In [9]:
#Show the type of the input received:
x = input("Enter something: ")
print(type(x))

Enter something:  Sreeramulu

<class 'str'>

In [11]:
# Input 3 subject marks and print:
subject1 = int(input(" Enter a first subject marks  : "))
subject2 = int(input(" Enter a second subject marks : "))
subject3 = int(input(" Enter a third subject marks : "))
print(" Total marks : " , subject1 + subject2 + subject3)
print(" Average marks : " , (subject1 + subject2 + subject3)/2)

 Enter a first subject marks  :  96
 Enter a second subject marks :  98
 Enter a third subject marks :  92

 Total marks :  286
 Average marks :  143.0

In [13]:
# Input radius of a circle and print its area.
r = float(input(" Enter radius of circle : "))
area = 3.14 * r * r
print("The area of the circle is : " ,area)

 Enter radius of circle :  6

The area of the circle is :  113.03999999999999

In [14]:
#Take 2 numbers and print the result of all operations: +, -, *, /, //, %, **
num1 = 18
num2 = 12
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

30
6
216
1.5
1
6
1156831381426176

In [15]:
#Take 3 numbers and print their average.
num1 = 12
num2 = 18
num3 = 28
print("Average of these numbers are : " , (num1 + num2 + num3)/2)

Average of these numbers are :  29.0

In [16]:
# Input side of a square, print its area.
side = float(input(" Enter a side of a square : "))
area = side * side
print(" The area of a square is : " , area)

 Enter a side of a square :  4

 The area of a square is :  16.0

In [22]:
# Input two numbers and print:
num1 = 5
num2 = 18
if num1 > num2 :
  print(" The Greatest number is : ", num1)
else :
  print(" The Greatest number is : ", num2)

 The Greatest number is :  18

In [29]:
#Take 5 numbers and print their total and average.
numbers = 2,3,4,5,6
print("Total: ",  sum(numbers))
print(" Average : " , sum(numbers)/2)

Total:  20
 Average :  10.0

In [30]:
# Input length and breadth, calculate area and perimeter of a rectangle.
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))
area = length * breadth
perimeter = 2 * (length + breadth)
print("The area of the rectangle is:", area)
print("The perimeter of the rectangle is:", perimeter)

Enter the length of the rectangle:  12
Enter the breadth of the rectangle:  6

The area of the rectangle is: 72.0
The perimeter of the rectangle is: 36.0

In [32]:
#. Input a number. Print:
num = int(input(" Enter a number : "))
print(num * 2)
print(num / 2)
print(num ** 2)
print(num ** 3)

 Enter a number :  8

16
4.0
64
512

In [34]:
# Input two numbers and print the larger one using a single line:
x = 18
y = 10
print(" The larger number is : " , max(x,y))

 The larger number is :  18

In [35]:
# Take 2 numbers. Without using +, calculate and print their sum using:
a = 25
b = 58
print(a-(-b))

83

In [36]:
current_year = int(input(" Enter the current year : "))
birth_year = int(input(" Enter your birth year : "))
age = current_year - birth_year
print(" Your age is : " , age)

 Enter the current year :  2025
 Enter your birth year :  2003

 Your age is :  22

In [38]:
# Input any number and print:
num = int(input("Enter any number: "))
last_digit = num % 10
print("Last digit:", last_digit)

Enter any number:  45

Last digit: 5

In [39]:
# Input marks in 5 subjects. Each subject is out of 100. Print:
sub1 = int(input("Enter marks for Subject 1 (out of 100): "))
sub2 = int(input("Enter marks for Subject 2 (out of 100): "))
sub3 = int(input("Enter marks for Subject 3 (out of 100): "))
sub4 = int(input("Enter marks for Subject 4 (out of 100): "))
sub5 = int(input("Enter marks for Subject 5 (out of 100): "))
total = sub1 + sub2 + sub3 + sub4 + sub5
percentage = total / 5
if sub1 >= 35 and sub2 >= 35 and sub3 >= 35 and sub4 >= 35 and sub5 >= 35:
    result = "Pass"
else:
    result = "Fail"

# Print results
print("\nTotal Marks:", total)
print("Percentage:", percentage, "%")
print("Result:", result)

Enter marks for Subject 1 (out of 100):  78
Enter marks for Subject 2 (out of 100):  94
Enter marks for Subject 3 (out of 100):  34
Enter marks for Subject 4 (out of 100):  89
Enter marks for Subject 5 (out of 100):  91

Total Marks: 386
Percentage: 77.2 %
Result: Fail