<h1>Day 9

In [7]:
# 1. Create a tuple with numbers (10, 20, 30, 40, 50) and print the first
# and last element.
num = (10,20,30,40,50)
print("First element: ", num[0] , "Last element: " ,num[4])

First element:  10 Last element:  50

In [8]:
# 2. Create a tuple with mixed data types (int, string, float) and 
# print each element using indexing
data = (18 , "deepthi" , 10.3)
print(data[0])
print(data[1])
print(data[2])

18
deepthi
10.3

In [11]:
# 3. Slice a tuple (1, 2, 3, 4, 5, 6)toget(2, 3, 4).
data = (1,2,3,4,5)
print(data[1:4])

(2, 3, 4)

In [12]:
# 4. Find the length of a tuple using len().
data = (1,2,3,4,5)
print(len(data))

5

In [14]:
# 5. Count how manytimes 5appears in (1, 5, 7, 5, 9, 5, 3).
data = (1, 5, 7, 5, 9, 5, 3)
print(data.count(5))

3

In [19]:
# 6. Find the index of banana in (”apple”, ”banana”, ”cherry”).
fruits = ("apple", "banana", "cherry")
print(fruits.index("banana"))

1

In [23]:
# 7. Convert a tuple (1, 2, 3, 4) into a list, update an element, and convert
# it back to a tuple
data = (1, 2, 3, 4)
lst = list(data)
print(lst)
lst.append(8)
data = tuple(lst)
print(data)

[1, 2, 3, 4]
(1, 2, 3, 4, 8)

In [24]:
# 8. Create a set {10, 20, 30, 40}andprint all elements.
ele = {10, 20, 30, 40}
print(ele)

{40, 10, 20, 30}

In [27]:
# 9. Add anelement 50 to the set.
ele = {10, 20, 30, 40}
ele.add(50)
print(ele)

{40, 10, 50, 20, 30}

In [33]:
# 10. Remove an element 30 from the set using both remove() and discard()
# (show difference).
#Remove
ele = {40, 10, 50, 20, 30, 80 , 100}
ele.remove(30)
print(ele)
# If we try to remove 30 again from the tuple using remove() 
#it will give us error.
#ele.remove(30)
#KeyError                                  Traceback (most recent call last)
#Cell In[31], line 7
#     5 ele.remove(30)
#      6 print(ele)
#----> 7 ele.remove(30)
 #    10 # Discard
#     11 #ele = {40, 10, 50, 20, 30, 80 , 100}
 #    12 #ele.discard(30)
#   13 #print(ele)

#KeyError: 30

# Discard
ele = {40, 10, 50, 20, 30, 80 , 100}
ele.discard(30)
print(ele)
ele.discard(30)
#If we try to remove 30 again from the tuple using discard() 
#it wont give any error we will get the remaining tuple as the result.

{80, 50, 100, 20, 40, 10}
{80, 50, 100, 20, 40, 10}

In [35]:
# 11. Create a set with duplicate values and observe the output.
data = {18, 10, 3, 15, 18, 34, 90, 3}
print(data)

{34, 3, 18, 90, 10, 15}

In [36]:
# 12. Find the length of {1, 2, 2, 3, 4, 4, 5}.
data = {1, 2, 2, 3, 4, 4, 5}
print(len(data))

5

In [37]:
# 13. Check membership: Is 7 in {1, 3, 5, 7, 9}?
ele = {1, 3, 5, 7, 9}
if 7 in ele:
    print("Yes 7 exists in ele")
else:
    print(" 7 does not exists in ele")

Yes 7 exists in ele

In [38]:
# 14. Clear all elements from a set
ele = {1, 3, 5, 7, 9}
print(ele.clear())

None

In [41]:
#15. Concatenate two tuples (1, 2, 3) and (4, 5, 6)
a = (1, 2, 3)
b = (4, 5, 6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [44]:
# 16. Repeat a tuple (”Hi”,) 5 times using *.
a = ("Hi ")
print( a * 5)

Hi Hi Hi Hi Hi

In [45]:
# 17. Find the maximum and minimum from (3, 8, 1, 6, 2).
ele = (3, 8, 1, 6, 2)
print(max(ele))
print(min(ele))

8
1

In [53]:
# 18. Swap two variables using a tuple
a = 18
b = 3
a, b = b, a
print("a : ", a)
print("b: ", b)

a :  3
b:  18

In [51]:
# 19. Create a nested tuple ((1, 2), (3, 4), (5, 6))and access element 4.
data = ((1, 2), (3, 4), (5, 6))
print(data[1][1])

4

In [52]:
# 20. Create two sets A = {1, 2, 3, 4} and B = {3, 4, 5, 6},perform:
# • Union
#• Intersection
# • Difference (A- B)
# • Symmetric Difference
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
# Union
print(A|B)
# Intersection
print(A & B)
# Difference (A- B)
print(A - B)
# Symmetric Difference
print(A ^ B)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [54]:
# 21. Check if {1, 2} is a subset of {1, 2, 3, 4}
A = {1, 2}
B = {1, 2, 3, 4}
print(A. issubset(B))

True

In [56]:
#  22. Check if {1, 2, 3, 4}isasuperset of {2, 3}.
A = {1, 2, 3, 4}
B = {1, 2}
print(A. issuperset(B))

True

In [57]:
# 23. Create a frozen set and try to add an element (observe error).
ele = [ 1, 2, 3]
frozen_set = frozenset(ele)
frozen_set.add(8)

AttributeError: 'frozenset' object has no attribute 'add'

In [58]:
#24. Find commonelements between two sets using intersection
A = { 18, 3, 10, 34, 65}
B = { 1, 86, 18, 9, 72, 3}
print(A.intersection(B))

{18, 3}

In [59]:
# 25. Find unique elements from a list using sets.
# • Example: [1, 2, 2, 3, 4, 4, 5]→{1, 2, 3, 4, 5}
lst = [18, 3, 10, 34, 65, 18, 3, 10, 34, 65]
print(set(lst))

{65, 34, 3, 10, 18}

In [60]:
# 26. Find the union of multiple sets: Result = {1, 2, 3, 4}
A = {1, 2}
B = {2, 3}
C = {3, 4}
print(A | B | C)

{1, 2, 3, 4}

In [62]:
#27. Write a program to count how many vowels are present in a 
#string using a set.
string = " Program to count"
count = 0
for char in string.lower():
    if char in "aeiou":
        count += 1
print("Number of vowels:", count)

Number of vowels: 5

In [63]:
#  28. Given two lists:  Convert them to sets and find their intersection.
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
lst1 = set(list1)
lst2 = set(list2)
print( lst1 & lst2)

{3, 4}

In [65]:
#  29. Find duplicate elements in a list using a set.
# Example: [1, 2, 3, 2, 4, 5, 1]→{1, 2}
numbers = [18, 22, 3, 26, 4, 3, 18]
seen = set()
duplicates = set()
for num in numbers:
    if num in seen:
        duplicates.add(num)
    else:
        seen.add(num)
print("Duplicate elements:", duplicates)

Duplicate elements: {18, 3}

In [69]:
# 30. Write a program to remove all common elements from two sets
A = { 18, 3, 10, 34, 65}
B = { 10, 86, 18, 9, 72, 3}
common = A.intersection(B)
print(common)
A -= common
B -= common
print(A)
print(B)

{10, 18, 3}
{65, 34}
{86, 72, 9}