<h1>Day 12</h1>

In [6]:
# 1. Generate a list of numbers from 1-20
numbers = [ i for i in range(1 , 21)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
# 2. Create a list of cubes of numbers from 1-10
cubes = [ x ** 3 for x in range(1 , 11)]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
#  3. Make a list of all even numbers between 50-100
even = [ x for x in range(50 , 101) if x % 2 == 0]
print(even)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [13]:
# 4. Extract all consonants from "programming"
word = "programming"
y = [ x for x in word if x not in "aeiou"]
print(y)

['p', 'r', 'g', 'r', 'm', 'm', 'n', 'g']

In [15]:
#  5. Create a set of squares for numbers from 15
x = { x ** 2 for x in range( 1 , 6)}
x

{1, 4, 9, 16, 25}

In [3]:
# 6. Build a dictionary with numbers 15 as keys and their doubles as values
x = { x : x + x for x in range (1 , 16) }
print(x)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30}

In [24]:
#  7. Create a list of all uppercase letters from "PythonRocks"
word = " PythonRocks"
y = [ ch for ch in word if ch.isupper()]
print(y)

['P', 'R']

In [31]:
#  8. Create alist of all words starting with "a" from ["apple","banana","avocado","mango"]
lst = ["apple","banana","avocado","mango"]
y = [ x for x in lst if x[0] == "a" ]
print(y)

['apple', 'avocado']

In [2]:
#  9. Build a list of factorials of numbers 15 using comprehension 
# (hint: use a helper function)
def calculate_factorial(n):
    fact = 1
    for i in range(1, n +1 ):
        fact = fact * i
    return fact
fact = [calculate_factorial(i) for i in range(1, 6)]
print(fact)

[1, 2, 6, 24, 120]

In [39]:
#  10. Convert a list of temperatures in Celsius to Fahrenheit using 
# comprehension
celsius_temps = [0, 10, 20, 30, 40]
fahrenheit_temps = [(temp * 9/5) + 32 for temp in celsius_temps]
print(fahrenheit_temps)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [40]:
#  11. Create a dictionary from two lists: keys = ["a","b","c"], 
# values = [1,2,3]
keys = ["a", "b", "c"]
values = [1, 2, 3]
Solution = {key: value for key, value in zip(keys, values)}
print(Solution)

{'a': 1, 'b': 2, 'c': 3}

In [45]:
#  12. Make a set of unique letters from a sentence "hello world"
sentence = "hello world"
unique_letters = {char for char in sentence}
print(unique_letters)

{'e', 'd', 'h', 'r', 'l', 'w', 'o', ' '}

In [46]:
# 13. Flatten a matrix [[1,2,3],[4,5,6],[7,8,9]]
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [item for row in matrix for item in row]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
#  14. Create a dictionary of characters and their ASCII values for the
# word "python"
word = "python"
ascii_dict = {char: ord(char) for char in word}
print(ascii_dict)

{'p': 112, 'y': 121, 't': 116, 'h': 104, 'o': 111, 'n': 110}

In [51]:
#  15. Build a multiplication table (15) using nested comprehension
number = 15
multiplication_table = [[f"{number} * {i} = {number * i}"] for i in range(1, 11)]
for line in multiplication_table:
    print(line[0])

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [52]:
#  16. From a list of numbers, replace even with square and odd with
# cube using comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
result = [n**2 if n % 2 == 0 else n**3 for n in numbers]
print(result)

[1, 4, 27, 16, 125, 36, 343, 64]

In [8]:
#  17. Create a dictionary of word:length for a sentence 
# "Python makes coding fun"
sentence = "Python makes coding fun"
y={x:len(x) for x in sentence.split() }
print(y)

{'Python': 6, 'makes': 5, 'coding': 6, 'fun': 3}

In [10]:
#  18. Build a set of squares of prime numbers from 1- 30 
# (hint: define is primefunction)
def is_prime(n):
    if n<2:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

x = [i**2 for i in range(1,31) if is_prime(i)]
print(x)

[4, 9, 25, 49, 121, 169, 289, 361, 529, 841]

In [5]:
#  19. Flatten a nested list [[1,2],[3,4,[5,6]]] (extra challenge)
lst = [[1,2],[3,4],[5,6]]
flattened_list = [item for row in lst for item in row]
print(flattened_list)

[1, 2, 3, 4, 5, 6]

In [59]:
#  20. Generate all pairs (x,y) where x is from [1,2,3] and y is from [’a’,’b’]
pairs = {x: ['a', 'b'] for x in [1, 2, 3]}
print(pairs)

{1: ['a', 'b'], 2: ['a', 'b'], 3: ['a', 'b']}