Day 7

In [5]:
#  1. Square of Stars
rows = 4
for row in range(1,rows + 1):
    for col in range(1,rows + 1):
        print(" * ", end = " " )
    print()

 *   *   *   *
 *   *   *   *
 *   *   *   *
 *   *   *   *

In [6]:
#  2. Right-Angled Triangle of Stars
rows = 4
for row in range(1 , rows + 1):
    for col in range(1,row + 1):
        print(" * " , end = " ")
    print()

 *
 *   *
 *   *   *
 *   *   *   *

In [9]:
# 3. Print Numbers in a Grid(1–3, repeated)
rows = 3
for row in range(1, rows + 1):
    for col in range( 1, rows + 1):
        print(col, end = " ")
    print()

1 2 3
1 2 3
1 2 3

In [10]:
# 4. Reverse Triangle of Stars
rows = 4
for row in range(rows , -1 ,-1):
    for col in range(row):
        print(" * ", end = " ")
    print()

 *   *   *   *
 *   *   *
 *   *
 *

In [17]:
#  5.Alphabet Triangle
rows = 3
for row in range(rows + 1):
    for col in range(row + 1):
        print(chr(65 + col), end = " ")
    print()

A
A B
A B C
A B C D

In [19]:
# 6. Incremental Numbers Triangle 
rows = 4
for row in range(1 , rows + 1):
    for col in range(1 , row + 1):
        print(col , end = " ")
    print()

1
1 2
1 2 3
1 2 3 4

In [21]:
# 7.Multiplication Table(1–5) using Nested Loops
for i in range(1,6):
    for j in range(1,6):
        print(f"{i * j : 2}" , end = " ")
    print()

 1  2  3  4  5
 2  4  6  8  10
 3  6  9  12  15
 4  8  12  16  20
 5  10  15  20  25

In [35]:
# 8.  Right-Aligned Triangle of Stars
n = 4
for i in range( 1, n + 1):
    print("   " * (n - i) + " * " * i)

          *
       *  *
    *  *  *
 *  *  *  *

In [36]:
# 9.Number Triangle (Continuous Increase)
rows = 4
num = 1
for row in range(1, rows + 1):
    for col in range(row):
        print(num , end = " ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [39]:
# 10. Square Grid with Row Numbers
rows = 4
for row in range(1, rows + 1):
    for col in range(1 , rows + 1):
        print(row , end = " ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [50]:
#  11.Decreasing Number Triangle
n = 4 
for i in range(1, n + 1):
    for j in range(5, 5 - i, -1):
        print(j, end=" ")
    print()

5
5 4
5 4 3
5 4 3 2

In [57]:
#  12.Odd-Even Pattern
rows = 4
cols = 4
for row in range(1, rows + 1):
    for col in range(1, cols + 1):
        if (row + col) % 2 == 0:
            print("E" , end = " ")
        else:
            print("O", end = " ")
    print()

E O E O
O E O E
E O E O
O E O E

In [1]:
# 13.Hollow Square Pattern
n = 5
i = 0
while i < n:
    j = 0
    while j < n:
        if i == 0 or i == n - 1 or j == 0 or j == n - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
        j += 1
    print()
    i += 1

* * * * *
*       *
*       *
*       *
* * * * *

In [61]:
# 14. CharacterTriangle(X,Y,Z)
ord("X")

88

In [63]:
# 14. CharacterTriangle(X,Y,Z)
rows = 3
ch = 88
for row in range(1, rows + 1):
    for col in range(row):
        print(chr(ch + col) , end = " ")
    print()

X
X Y
X Y Z

In [67]:
# 15. Centered Pyramid of Stars
rows = 4
for row in range(1, rows + 1):
    print(" " * (rows - row) + " * " * row)

    *
   *  *
  *  *  *
 *  *  *  *

In [68]:
# 16. Floyds Triangle (Continuous Numbers)
rows = 4
num = 1
for row in range(1, rows + 1):
    for col in range(row):
        print(num , end = " ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [69]:
#17. Diamond Shape (Stars)
n = 3 
for i in range(1, n + 1):
    print(" " * (n - i) + "* " * i)
for i in range(n - 1, 0, -1):
    print(" " * (n - i) + "* " * i)

  *
 * *
* * *
 * *
  *

In [71]:
# 18.Alphabet Increment Pattern
rows = 4
ch = 65
for row in range(1 , rows + 1):
    for col in range(row):
        print(chr(ch), end = " ")
        ch += 1
    print()

A
B C
D E F
G H I J

In [73]:
# 19. Right-Angled Triangle of Squares
rows = 4
num = 1
for row in range(1 , rows + 1):
    for col in range(row):
        print(num ** 2 , end = " ")
        num += 1
    print()

1
4 9
16 25 36
49 64 81 100

In [76]:
# 20. Multiplication Table (1–10 Grid)
for row in range(1,11):
    for col in range(1,11):
        print(f"{row * col : 3}" , end = " ")
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90  100